<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.hellospringhomework2.todolist.dao.TodoDao">
    <!--  전체 TodoLiwt를 조회하는 SQL 정의  -->
    <select id="selectAllTodo"
            resultType="com.ktdsuniversity.edu.hellospringhomework2.todolist.vo.TodoItemVO">
        SELECT ID
             , ISDONE
             , TODO_SUBJECT
             , TO_CHAR(DEADLINE, 'YYYY-MM-DD') DEADLINE
          FROM TODOITEM
         ORDER BY ID
    </select>
    <!--  새로운 TodoItem 을 생성하는 SQL 정의  -->
    <insert id="createNewTodo"
            parameterType="com.ktdsuniversity.edu.hellospringhomework2.todolist.vo.WriteTodoItemVO">
        INSERT INTO TODOITEM
             ( ID
             , ISDONE
             , TODO_SUBJECT
             , DEADLINE )
        VALUES
             ( SEQ_TODOITEM_PK.NEXTVAL
             , 0
             , #{todoSubject}
             , TO_DATE(#{deadline}, 'YYYY-MM-DD' ))
    </insert>
    <!--  특정 TodoItem 을 조회하는 SQL 정의  -->
    <select id="selectOneTodo"
            parameterType="_int"
            resultType="com.ktdsuniversity.edu.hellospringhomework2.todolist.vo.TodoItemVO">
        SELECT ID
             , ISDONE
             , TODO_SUBJECT
             , TO_CHAR(DEADLINE, 'YYYY-MM-DD') DEADLINE
          FROM TODOITEM
         WHERE ID = #{_parameter}
    <!--    특정 ID 를 가진 TodoList 를 선택해서 TodoItemVO 에 매핑함    -->
    </select>
    <!--  특정 TodoItem 을 삭제하는 SQL 정의  -->
    <delete id="deleteOneTodo"
            parameterType="_int">
        DELETE
          FROM TODOITEM
         WHERE ID = #{_parameter}
    </delete>

    <update id="updateTodo"
            parameterType="_int">
        UPDATE TODOITEM
           SET ISDONE = ISDONE + 1
         WHERE ID = #{_parameter}
    </update>
</mapper>