@charset "UTF-8";

div.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 28px;
    row-gap: 10px;
}

div.grid > div.btn-group {
    display: grid;
    grid-column: 1/-1;
}

div.grid div.right-align {
    text-align: right;
}

div.grid2 {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-template-rows: 28px 28px 1fr;
    row-gap: 10px;
}

div.grid2 > div.btn-group {
    display: grid;
    grid-column: 1/3;
}

div.grid2 div.right-align {
    text-align: right;
}



label {
    padding-left: 10px;
}

button,
input,
textarea {
    padding: 10px;
}

#todoSubject{
    width: 100%;
    border: none;
    text-align: center;
}

div.grid > input[type=text]{
    width: 100%;
    border: none;
    text-align: center;
}

input[type=date]{
    width: 100%;
    border: none;
    text-align: center;
}

input[type=button]{
    background-color: black;
    color: white;
}

#button{
    background-color: black;
    color: white;
}

button2,
input2 {
    padding: 10px;
    border: 1px solid #ccc;
}

table.table {
    width: auto;
    border-collapse: collapse;
    border: 1px solid #000;
}

table.table > thead > tr {
    width: auto;
    background-color: #fff;
    text-align: center;
}

table.table > thead th {
    width: 30px;
    padding: 10px;
    color: #333;
}

table.table th,
table.table td {
    border: 1px solid #000;
}

table.table > tbody tr {
    width: 30px;
    background-color: #ffffff;
}

table.table > tbody tr:nth-child(3) {
    width: 150px;
    background-color: #ffffff;
}

table.table > tbody tr:nth-child(4) {
    width: 90px;
    background-color: #ffffff;
}

table.table > tbody td {
    padding: 10px;
    color: #333;
}

div.error {
    font-size: 0.8rem;
    color: #a00;
}

div.errors{
    background-color: #ff00004a;
    opacity: 0.8;
    padding: 10px;
    color: #333;
}

div.errors:last-child{
    margin-bottom: 15px;
}

div.grid3 > .error {
    background-color: #ff00004a;
    opacity: 0.8;
    padding: 10px;
    color: #333;
}

div.grid3 > .error:last-child {
    margin-bottom: 15px;
}

.available{
    background-color: #0f08;
}

.unusable{
    background-color: #a008;

}